
.container {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.half-container {
  position: relative;
  width: 48%; 
}

.sec-container {
  position: relative;
  width: 48%; 
  background-color: lightgray;
}

.text-overlay {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.text-overlay h1 {
  font-size: 120px;
  margin: 0 auto;
}
.red-text{
  color:maroon;
  font-size: 70px;
}
