@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body{
    background-color: #6F6866;
    font-size: 25px;
}
.nav_link {
    padding:10px;
    color: black;
    text-decoration:none;
    text-align: center;
    font-family: "Archivo Black";
}
img{
    width:60%;
    height: auto;    
    
}
main{
    background-color: white;
    color: black;
    padding: 1px;
}
#main{
    font-size: 100px;
    text-align: center;
}
a:hover{
    color:red;
    background-color: black;

}
nav{
    display:flex;
    justify-content: center;
    background-color: white;
}
*{
        text-align: center;
        font-family: "archivo black","anton", 'Times New Roman', Times, serif
    }
footer{
    background-color: black;
    color:red;
    padding: 20px;
    border-radius: 20px;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
p{
    padding:30px;
}
h1{
    background-color: white;
    padding: 20px;
}
main {
    border-radius: 20px;
}